<div>
<h3>@Component.Title</h3>
@if (ConsiderationValues != null)
{
    <details>
        <summary>Considerations</summary>
        <ul>
            @foreach (var consideration in ConsiderationValues)
            {
                <li>@consideration</li>
            }
        </ul>
    </details>
}
</div>
@if (AnswerList.Answers != null)
{
    <div>
    <p class="title">@Component.Code Continuum of Practice:</p>
    <p>@Component.ContinuumOfPracticeHtml</p>
    </div>

     <fieldset class="fieldset-@NumberColumns">
        <legend>Options</legend>
        @foreach (var answer in AnswerList.Answers.Where(a => !a.NotObserved || ShowNotObserved).Select((value, i) => new { i, value }))
        {
            <div class="first first-@answer.value.NumberColumns first-mobilerow-@answer.i">
                <input type="radio" name="@Component.Code" id="@Component.Code-@answer.value.QuantitativeAnswer" value="@answer.value.QuantitativeAnswer" checked="@(ComponentAnswer == null ? false : answer.value.QuantitativeAnswer == ComponentAnswer.QuantitativeScore)" @onchange="e => SaveAnswer(answer.value.QuantitativeAnswer, answer.value.QualitativeAnswer, answer.value.Description)" />
                <label for="@Component.Code-@answer.value.QuantitativeAnswer">@answer.value.Answer(ShowQuantitativeAnswer)</label>
            </div>
        }
        @foreach (var answer in AnswerList.Answers.Where(a => (!a.NotObserved || ShowNotObserved) && a.NumberColumns > 0).Select((value, i) => new { i, value }))
        {
            <div class="second second-@answer.value.NumberColumns second-mobilerow-@answer.i">
                @answer.value.Description
            </div>
        }
     </fieldset>
}
