<div>
<h3>@Component.Title</h3>
@if (ConsiderationValues != null)
    {
        <details>
            <summary>Considerations</summary>
            <ul>
                @foreach (var consideration in ConsiderationValues)
                {
                    <li>@consideration</li>
                }
            </ul>
        </details>
    }
</div>
@if (AnswerList.Answers != null)
{
<div>
<p class="title">@Component.Code Continuum of Practice:</p>
<p>@Component.ContinuumOfPracticeHtml</p>
</div>

 <fieldset>
     <legend>Options</legend>
    @foreach (var answer in AnswerList.Answers.Where(a => a.QualitativeAnswer != null || ShowNotObserved))
    {
        <div class="first first-@answer.NumberColumns">
            <input type="radio" name="@Component.Code" id="@Component.Code-@answer.QuantitativeAnswer" value="@answer.QuantitativeAnswer" checked="@(ComponentAnswer == null ? false : answer.QuantitativeAnswer == ComponentAnswer.QuantitativeScore)" @onchange="e => SaveAnswer(answer.QuantitativeAnswer, answer.QualitativeAnswer)" />
            <label for="@Component.Code-@answer.QuantitativeAnswer">@answer.Answer(ShowQuantitativeAnswer)</label>
        </div>
    }
    @foreach (var answer in AnswerList.Answers.Where(a => (a.QualitativeAnswer != null || ShowNotObserved) && a.NumberColumns > 0))
    {
        <div class="second second-@answer.NumberColumns">
            @answer.Description
        </div>
    }
 </fieldset>
}
