<details class="danielson-answer-@DomainAnswer.DomainItem.ToString().ToLower()">
    <summary>@Title</summary>
    <p><a @onclick="e => Edit(DomainEnum)">Edit @Title</a></p>
    @if (!AreAllCompnentsAnswered && ShowErrors)
    {
        <div class="danielson-answer">
            <p class="title-alert">Not all components have been answered</p>
            <ul>
                @foreach (var componentTitle in ComponentsNotChosen)
                {
                    <li>@componentTitle</li>
                }
            </ul>
        </div>
    }
    @foreach (var component in ComponentAnswers)
    {
        <div class="danielson-answer">
            <p class="title">@component.ComponentTitle</p>
            <div class="table">
                <div>
                    @if (component.QuantitativeScore >= 0 && ShowQuantitativeAnswer)
                    {
                        <div>@component.QuantitativeScore</div>
                    }
                    <div>@component.QualitativeScore</div>
                </div>
                <div>
                    <div>@component.ComponentDescription</div>
                </div>
            </div>
        </div>
    }
    <div class="danielson-answer">
        <p class="title">Strengths</p>
        <p>@DomainAnswer.Strengths</p>
    </div>

    <div class="danielson-answer">
        <p class="title">Next Steps</p>
        <p>@DomainAnswer.NextSteps</p>
    </div>

</details>