<details class="danielson-answer-@DomainAnswer.DomainItem.ToString().ToLower()">
    <summary>@Title</summary>
    @foreach (var component in ComponentAnswers) {
        <div class="danielson-answer">
            <p class="title">@component.ComponentTitle</p>
            <div class="table">
                <div>
                    <div>@component.QuantitativeScore</div>
                    <div>@component.QualitativeScore</div>
                </div>
                <div>
                    <div>@component.ComponentDescription</div>
                </div>
            </div>
        </div>
    }
    <div class="danielson-answer">
        <p class="title">Strengths</p>
        <p>@DomainAnswer.Strengths</p>
    </div>

    <div class="danielson-answer">
        <p class="title">Next Steps</p>
        <p>@DomainAnswer.NextSteps</p>
    </div>

</details>